body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
      "body-1 body-1"
      "body-2 side";
  }

  .body-1 {
    grid-area: body-1;
  }

  .body-2 {
    grid-area: body-2;
  }

  .side {
    grid-area: side;
  }

  .body-1 {
    display: grid;
    height: 400px;
    justify-content: center;
    align-items: center;
  }

  .body-2 {
    display: grid;
    margin: 30px 50px 0 100px;
    margin-bottom: 50px;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
      "title title"
      "img1 text1"
      "img2 text2";
      row-gap: 40px;
  }

  .side {
    padding: 40px 10px;
    background-color: rgba(247, 240, 240, 0.98);
  }

  /* body-2 grid areas*/

  #title {
    grid-area: title;
    margin-bottom: -15px;
  }
  #img1 {
    grid-area: img1;
  }
  #img2 {
    grid-area: img2;
  }
  #text1 {
    grid-area: text1;
  }
  #text2 {
    grid-area: text2;
  }