body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }

  .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
      "header header"
      "body-1 body-1"
      "body-2 side";
  }

  .header {
    grid-area: header;
  }

  .body-1 {
    grid-area: body-1;
  }

  .body-2 {
    grid-area: body-2;
  }

  .side {
    grid-area: side;
  }