#sitemap {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: white;
}

#sitemap-container {
  background-color: rgb(143, 193, 193);
  height: 15px;
  padding: 10px 30px 18px;
  margin-top: 40px;
}
